.chatPage{
    background-color: rgb(31,29,29);
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content  : center;
}
.chatContainer{
    background-color: white;
    height:60%;
    width:50%;
}
.header{
    background-color: crimson;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    /* box-sizing: border-box; */
}
.header>h2{
    font-size: 1.5vmax;
    color:white;
    margin: 2.5vmax;
}
.header img{
    margin: 2.5vmax;
    transition: all 0.2s;
    cursor: pointer;
}
.header>img:hover{
    transform:scale(1.2);
}
.chatBox{
    height: 70%;
    border: 0.2vmax solid black;
    box-sizing: border-box;
    overflow-y: auto;
}
 .inputBox{
    display:flex;
    height: 15%;
    border: 0.2vmax solid black;
}

#chatInput{
    width:80%;
    border:none;
    padding: 2vmax;
    box-sizing: border-box;
    outline:none;
    background-color: white;
    border-top: 0.2vmax solid rgb(41,41,41,0.562);
}
.sendBtn{
    background-color: crimson;
    color:white;
    border:none;
    width: 20%;
    transition: 0.3s;
    font-size: 1.2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sendBtn>img{
    width: 2.6vmax;
    filter:brightness(100) invert();
    transition: all 0.3s;
}

.sendBtn:hover{
    background-color: rgb(172, 7, 40);
    cursor: pointer;
}
.sendBtn:hover img{
    transform: translateX(10px);
}